<div class="history-view-container flex">
    <div class="history-view">
        <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
            </ng-container>
            <ng-container matColumnDef="Event">
                <th mat-header-cell *matHeaderCellDef> Event</th>
                <td mat-cell *matCellDef="let element">
                    Converted an amount of {{element.amount}} from {{element.base}} to {{element.convertCurrency}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element;let index = index">
                    
                        <a class="green-icon" [routerLink]="element.id">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
                            View
                        </a>
                    <span class="red-icon" (click)="removeHistory(index)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
                        Delete from history
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="historyColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: historyColumns;"></tr>
        </table>
    </div>
</div>