$primary: #009688;
$secondary: #64C720;
$mainBackgroundColor: #ececec;
$headerBackgroundColor: #ffffff;
$defaultTextColor: #404040;
$deactiveLinkColor: #d3d3d3;
$hrBorderColor: #d3d3d3;
$tableRowGreenAction: #009688;
$tableRowRedAction: #C70D38;